@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

body {
	margin: 0;
	font-family: 'Bai Jamjuree', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background-color: #242e38;
	margin: 0;
	padding: 0;
}

.site-container {
	min-height: 100vh;
}

main {
	flex: 1;
}

.btn-primary {
	background-color: #f0c040;
	color: #000000;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.rating span {
	color: #ffc000;
}

.product {
	border: 1px #404040 solid;
	margin: 1rem;
}
.product img {
	width: 100%;
	max-width: 400px;
}

.product-info {
	padding: 1rem;
}

.img-large {
	max-width: 100%;
}

.fa-minus-circle {
	color: green;
}

.fa-plus-circle {
	color: green;
}

.fa-trash {
	color: red;
}
